body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* STYLE OVERLOADING */
.ant-list-item-meta-content {
  width: auto !important;
}
.ant-list-item-meta-description{
  text-align: justify !important;
  /* display: inline-block; */
}
.award-title .ant-list-item-meta-title{
  margin: 0 !important;
}
.custom-card-head .ant-card-head {
  background-color: #173149 !important;
}

.publication-space-item .ant-space-item{
  margin-bottom: -10px;
}

.publication-space-item-paragraph{
  margin-top: 10px !important;
}
